body {
  background-color: aqua;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  padding: 10px;
}

nav .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav .desktop .links {
  display: flex;
  align-items: center;
}

nav .desktop .links a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

nav .desktop .links a:hover {
  color: yellow;
  background-color: darkblue;
}

nav .desktop .links .dropdown {
  position: relative;
  display: inline-block;
}

nav .desktop .links .dropdown .button {
  background-color: brown;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

nav .desktop .links .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: darkblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav .desktop .links .dropdown .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .desktop .links .dropdown .dropdown-content a:hover {
  background-color: bisque;
  color: black;
}

nav .desktop .links .dropdown:hover .dropdown-content {
  display: block;
}
